<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application>
    <receiver
      android:name=".AlarmReceiver"
      android:exported="false" />
    <receiver
      android:name=".AlarmBootReceiver"
      android:enabled="true"
      android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
      </intent-filter>
    </receiver>
    <receiver
      android:name=".AlarmStopReceiver"
      android:exported="false" />
    <service
      android:name=".AlarmPlaybackService"
      android:exported="false"
      android:foregroundServiceType="mediaPlayback"
      android:stopWithTask="false" />
  </application>
</manifest>